{% block footer %}
<footer class="footer is-dark has-background-dark has-text-light">
  <div class="columns is-dark has-text-centered">
      <div class="column">
        <h1 class="has-text-centered"> Contact Tophoto </h1>
        {#
        <a class="mx-2 my-2 button is-info" href="">
            <span class="icon-text">
                <span class="icon">
                    <i class="fab fa-linkedin"></i>
                </span>
                <span>LinkedIn</span>
            </span>
        </a>
        #}
        <a class="mx-2 my-2 button is-info" href="mailto:tophotoDeveloper@gmail.com">
            <span class="icon-text">
                <span class="icon">
                    <i class="far fa-envelope"></i>
                </span>
                    <span>E-mail</span>
            </span>
        </a>
        {#
        <a class="mx-2 my-2 button is-info" href="tel:1-867-530-9999">
            <span class="icon-text">
                <span class="icon">
                    <i class="fa fa-phone"></i>
                </span>
                    <span>da phone number</span>
            </span>
        </a>
        
        <a class="mx-2 my-2 button is-info" href="./about.html">
            <span class="icon-text">
                <span class="icon">
                    <i class="far fa-book-user"></i>
                </span>
                    <span>About Page</span>
            </span>
        </a>
        #}
      </div>
      <div class="column">
          <h1> Donations </h1> 
          <a class="mx-2 my-2 button is-info" href="https://www.paypal.com/donate/?business=2F4UG8TJEHJJE&no_recurring=1&item_name=www.topho.to+donations+&currency_code=USD">Donate to topho.to</a>
      </div> 
      
  </div>
  <p class="content has-text-centered my-4"> <em> topho.to - 2022 </em> </p>
  {#
  <p class="content has-text-centered my-4"><em><a class="button is-info" href="./privacy_policy.html">Privacy Policy</em></a></p>
  #}
</footer>
{% endblock %}