<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <title>topho.to - Torino</title>
        {% block meta_description %}
            <meta name="description" content="Torino">
        {% endblock %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <script src="https://kit.fontawesome.com/94ed33b9e9.js" crossorigin="anonymous"></script>
    </head>
    <body style="background-color: #202020;">
          {% block header %}
              {% include "_navbar.jinja"%}
          {% endblock %}
          {# {% block hero %} 
              {% include "_hero.jinja"%}
          {% endblock %}
          #}
      <section class="section">
          {% block content %}

          {% endblock %}
      </section>
          <footer>
              {% block footer %}
                  {% include "_footer.jinja"%}
              {% endblock %}
          </footer>
              {# <script src="./index.js" async defer></script> #} 
    </body>

</html>