{% extends "/base.jinja" %}

{% block content %}

<br>
<br>
<h1>yo lol</h1>
<br>
<br>

<br>
<br>
<h1>yo lol</h1>
<br>
<br>
<br>
<br>
<h1>yo lol</h1>
<br>
<br>
<br>
<br>
<br>
<h1>yo lol</h1>
<br>
<br>
<br>
<h1>yo lol</h1>
<br>
<br>
{% endblock %}
